<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Upload PDF</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Enviar PDF</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="application/pdf">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>